/* .container {
  text-align: center;
} */

li {
    margin: 10px;
    list-style-type: none;
}

button {
    margin: 5px;
}

body {
    margin: 30px;
    text-align: center;
}

input {
    margin: 10px;
}
